<!DOCTYPE >
<html>
    <head>
        <title>Today's Info</title>
    </head>
    <body>
        <div class="header">
            <div class="header_title"><a href="/">今日のニュース</a></div>
        </div>
        <div class="main_info">
            
        </div>
    </body>
</html>
