<!DOCTYPE >
<html>
    <head>
        <title>Today's Info</title>
    </head>
    <body>
        <div class="header">
            <div class="header_title"><a href="/main">今日のニュース</a></div>
        </div>
        <div class="main_info">
            
        </div>
        <div class="bookmark">
            <a href="./bookmark">お気に入り</a>
        </div>
        <p><%= results.rows[0]["id"] %></p>
    </body>
</html>
